// Variables will be defined below

//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color : white;

//sizes
$break-small: 660px;

body {
    background-color: $body-background-color;          
}

#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
    @media (min-width: $break-small) {
       & {
          width: 90%;
          max-width: 700px;
          margin-left: auto;
          margin-right: auto; 
        } 
    }
}

@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: $axis $wrap;
    -ms-flex-flow: $axis $wrap;
    flex-flow: $axis $wrap;
}

fieldset > div {
    @include flex-container(column);        
}

@mixin center($width, $max-width: 960px) {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    @include center();
}